.Token {
    cursor: pointer;
}

.color-green {
    color: darkgreen;
}

.color-gold {
    color: goldenrod;
}

.color-white {
    color: floralwhite;
}

.color-black {
    color: black;
}

.color-blue {
    color: dodgerblue;
}

.color-red {
    color: darkred;
}

.disabled {
    opacity: 0.88;
    pointer-events: none;
    cursor: not-allowed;
}