.color-green {
    color: darkgreen;
}

.color-gold {
    color: goldenrod;
}

.color-white {
    color: floralwhite;
}

.color-brown {
    color: saddlebrown;
}

.color-blue {
    color: dodgerblue;
}

.color-red {
    color: darkred;
}